<div class="bg-secondary text-dark">
  
  <app-todos></app-todos>
<footer class="p-3 mb-2 bg-success bg-opacity-50">
  <div >
    <div class="jumbotron container-fluid" style="width: 82rem;">
      <h2 class="display-4">About this Angular todo app</h2>
      <p class="lead">A basic Todo List App enables us to add, remove, and mark a task as completed. The idea seems quite simple but
          for beginner Angular developers it could be a bit challenging to build it.</p>
    
      <hr class="my-4">
      <p >Angular is an open-source, JavaScript framework written in TypeScript. Google maintains it, and its
          primary purpose is to develop single-page applications. As a framework, Angular has clear advantages while also
          providing a standard structure for developers to work with.</p>
    
      
    </div>
    
  </div>
  
</footer>
</div>  
