<div class="my-3">
    <h4><u>Add todo</u> </h4>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Enter Title</label>
            <input type="text" name="title" [(ngModel)]="title" class="form-control" id="exampleFormControlInput1"
                placeholder="Title">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Enter decscription</label>
            <textarea name="desc" class="form-control" [(ngModel)]="desc" id="exampleFormControlTextarea1"
                rows="1"></textarea>
        </div>
        <div class="col-12">
            <button class="btn btn-primary mb-3 btn-sm" type="submit">Add Todo</button>
        </div>
    </form>
</div>